.container{
    width :80%;
    margin : 0 auto;
    background-color: brown;
}
img{
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
        background-color: lime;
    }
    body{
        background-color: grey;
    }
 
    img{
        width: 100%;
        height: auto;
    }   
}
/* flexible box */
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    background-color: lightgreen;
    flex-direction: row;
    flex-wrap: wrap;
}
.item{
    background-color: grey;
    padding: 20px;
    margin: 10px;
    flex: 1;
    text-align: center;
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;

}
/* grid[container */
.grid-container{
    display: grid;
    grid-area: 'header header header'
               'menu main right'
               'footer footer footer';
    grid-gap:10px;
    padding:10px;
}
.grid-item-11{grid-area: header;
    background-color: rgb(8, 164, 216);
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.grid-item-2{grid-area: menu;
    background-color: lightgreen;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;}
.grid-item-3{grid-area: main;
    background-color: rgb(190, 190, 14);
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;}
.grid-item-4{grid-area: right;
    background-color: rgb(193, 35, 59);
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;}
.grid-item-5{grid-area: footer;
    background-color: rgb(94, 40, 40);
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;}